[Desktop Entry]
Type=Application
Version=1.1.0
Name=NxBTSettings
Name[ko]=NxBTSettings
Title=Nexell BT Settings
Comment=Nexell BT Settings for QT
Comment[ko]=Nexell BT Settings for QT
Icon=icon_btsettings.png
TryExec=NxBTSettings
Exec=NxBTSettings
